body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
    text-align: center;
}

.dice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice {
    font-size: 3em;
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#roll-btn {
    padding: 0.3em 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
/* From other sitr */
.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
